<div id="sidebar-default" class="main-sidebar">
			<div class="current-user">
				<a href="/" class="name">
					<img class="avatar" src="../images/avatars/CROPPED-Oleksandr_photo.jpg" />
					<span>
					Alex 909	
						<i class="fa fa-chevron-down"></i>
					</span>
				</a>
				<ul class="menu">
					<li>
						<a href="account-profile.html">Account settings</a>
					</li>
					<li>
						<a href="account-notifications.html">Notifications</a>
					</li>
					<li>
						<a href="account-support.html">Help / Support</a>
					</li>
					<li>
						<a href="signup.html">Sign out</a>
					</li>
				</ul>
			</div>
			<div class="menu-section">
				<h3>General</h3>
				<ul>
					<li>
						<a href="/" class="active">
							<i class="ion-android-earth"></i> 
							<span>Dashboard</span>
						</a>
					</li>
					<li>
						<a href="/customers" data-toggle="sidebar">
							<i class="ion-person-stalker"></i> <span>Customers</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="/customers/new">New Customer</a></li>
							<li><a href="/customers">Customers List</a></li>
						</ul>
					</li>
					<li>
						<a href="users.html" data-toggle="sidebar">
							<i class="ion-bag"></i> <span>Products</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="reports.html">Add Product</a></li>
							<li><a href="reports-alt.html">Products List</a></li>
						</ul>
					</li>
					<li>
						<a href="users.html" data-toggle="sidebar">
							<i class="ion-pricetags"></i> <span>Orders</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="form.html">New Order</a></li>
							<li><a href="form-product.html">Active Orders</a></li>
							<li><a href="wizard.html">Order History</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="menu-section">
				<h3>Admin</h3>
				<ul>
					<li>
						<a href="account.html" data-toggle="sidebar">
							<i class="ion-stats-bars"></i> <span>Metrics</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="account-profile.html">Orders</a></li>
							<li><a href="account-notifications.html">Sales</a></li>
						</ul>
					</li>
					<li>
						<a href="account.html" data-toggle="sidebar">
							<i class="ion-person"></i> <span>My account</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li><a href="account-profile.html">Settings</a></li>
							<li><a href="account-notifications.html">Notifications</a></li>
							<li><a href="account-support.html">Support</a></li>
						</ul>
					</li>
					<li>
						<a href="#" data-toggle="sidebar">
							<i class="ion-man"></i> <span>Users</span>
							<i class="fa fa-chevron-down"></i>
						</a>
						<ul class="submenu">
							<li>
								<a href="invoice.html" data-toggle="sidebar">
									Add User
								</a>
							</li>
							<li><a href="invoice.html">All Users</a></li>
							<li><a href="#">Company Activity</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="bottom-menu hidden-sm">
				<ul>
					<li><a href="#"><i class="ion-help"></i></a></li>
					<li>
						<a href="#">
							<i class="ion-archive"></i>
							<span class="flag"></span>
						</a>
						<ul class="menu">
							<li><a href="#">5 Active Orders</a></li>
						</ul>
					</li>
					<li><a href="signup.html"><i class="ion-log-out"></i></a></li>
				</ul>
			</div>
		</div>