<% layout('layout') -%>
<div class="menubar">
	<div class="sidebar-toggler visible-xs">
		<i class="ion-navicon"></i>
	</div>

	<div class="page-title">
		Dashboard
	</div>

	<div class="period-select hidden-xs">
		<form class="input-daterange">
			<div class="input-group input-group-sm" id='startDate'>
			  	<span class="input-group-addon">
			  		<i class="fa fa-calendar-o"></i>
			  	</span>
			  	<input name="start" type="text" class="form-control datepicker" placeholder="02/27/2014" />
			</div>
			
			<p class="pull-left">to</p>

			<div class="input-group input-group-sm" id="endDate">
			  	<span class="input-group-addon">
			  		<i class="fa fa-calendar-o"></i>
			  	</span>
			  	<input type="text" class="form-control datepicker" placeholder="02/27/2014" value="dateFormat(new Date(), 'dd/mm/yyyy')" />
			</div>
		</form>
	</div>
</div>

<div class="content-wrapper">
	<div class="metrics clearfix" style="margin-bottom: 20px">
		<div class="metric">
			<span class="field">Total Customers</span>
			<span class="data" id="total-customers">24,900</span>
		</div>
		<div class="metric">
			<span class="field">New Customers</span>
			<span class="data" id="new-customers">108</span>
		</div>
		<div class="metric">
			<span class="field">Sales this period</span>
			<span class="data" id="period-sales">$674.00</span>
		</div>
		<div class="metric">
			<span class="field">Total Sales (All time)</span>
			<span class="data" id="total-sales">$3,823.90</span>
		</div>
	</div>
	<div class="charts">
		<div style="width: 60%; float: left">
		<h3 class='text-center' style="margin-bottom: 30px">Sales for the last year</h3>
			<div id="legendDiv"></div>
			<canvas id="sales-line-chart"></canvas>
		</div>
		<div style="width: 38%; float: left">
		<h3 class='text-center'  style='margin-bottom: 60px'>Customers by type</h3>
			<canvas id="customers-pie-chart"></canvas>
		</div>
		
	</div>
</div>

<style type="text/css">
	.line-legend {
		text-align: center;
		list-style: none;
		
	}

	.line-legend li {
	  display: inline;
	  padding-left: 30px;
	  position: relative;
	  margin-bottom: 4px;
	  border-radius: 5px;
	  padding: 2px 8px 2px 28px;
	  font-size: 14px;
	  cursor: default;
	  -webkit-transition: background-color 200ms ease-in-out;
	  -moz-transition: background-color 200ms ease-in-out;
	  -o-transition: background-color 200ms ease-in-out;
	  transition: background-color 200ms ease-in-out;
	}
	.line-legend span {
	  display: block;
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 20px;
	  height: 100%;
	  border-radius: 5px;
	}
</style>

<script type="text/javascript">

	function getStats(startDate, endDate) {

		return new Promise(function(resolve, reject) {
				$.ajax({
				url: '/stats',
				type: 'POST',
				contentType: 'application/json; charset=UTF-8',
				dataType: 'json',
				data: JSON.stringify({startDate: startDate, endDate: endDate}),
		        timeout: 10000,
		        complete: () => console.log("stats fetch complete !"),
		        success: (data) => {
					resolve(data);
		        },
		        error: (XMLHttpRequest, textStatus, errorThrown) => {
		        	console.log(XMLHttpRequest.responseText) 
		        	Messenger().post({
					  	message: 'Sorry, there was problem with fetching stats.',
					  	type: 'error',
					  	showCloseButton: true
					});
					reject(errorThrown)
		        }
			})
		})
	}

	function updateViews(s, e) {
		var start = Date.parse( $('#startDate').find('input').val() )
		var end = Date.parse( $('#endDate').find('input').val() )

		var getStatsFromServer = getStats(start, end)

		return getStatsFromServer.then(function(stats) {
			if(!stats) {
				Messenger().post({
				  	message: 'No data available for specified period',
				  	type: 'error',
				  	showCloseButton: true
				});
				e.preventDefault()
				e.stopImmediatePropagation()
				return
			} else {
				// update the view
				$('#total-customers').html(stats.totalCustomers)
				$('#new-customers').html(stats.newCustomers)
				$('#period-sales').html('$' + stats.periodSales)
				$('#total-sales').html('$' + stats.allTimeSales)

				var ctx1 = document.getElementById("sales-line-chart").getContext("2d");
				var ctx2 = document.getElementById("customers-pie-chart").getContext("2d");

				var linesData = {
				    labels: stats.salesChartData.labels,
				    datasets: [
				        {
				            label: "End Users",
				            fillColor: "rgba(220,220,220,0.2)",
				            strokeColor: "rgba(220,220,220,1)",
				            pointColor: "rgba(220,220,220,1)",
				            pointStrokeColor: "#fff",
				            pointHighlightFill: "#fff",
				            pointHighlightStroke: "rgba(220,220,220,1)",
				            data: stats.salesChartData.endUserData
				        },
				        {
				            label: "Home Users",
				            fillColor: "rgba(151,187,205,0.2)",
				            strokeColor: "rgba(151,187,205,1)",
				            pointColor: "rgba(151,187,205,1)",
				            pointStrokeColor: "#fff",
				            pointHighlightFill: "#fff",
				            pointHighlightStroke: "rgba(151,187,205,1)",
				            data: stats.salesChartData.homeUserData
				        },
				        {
				            label: "Companies",
				            fillColor: "rgba(242, 205, 241,0.2)",
				            strokeColor: "rgba(242, 205, 241,1)",
				            pointColor: "rgba(242, 205, 241,1)",
				            pointStrokeColor: "#fff",
				            pointHighlightFill: "#fff",
				            pointHighlightStroke: "rgba(242, 205, 241,1)",
				            data: stats.salesChartData.companyData
				        }
				    ]
				}

				var pieData = [
				    {
				        value: stats.customerTypesData.endUsersQty,
				        color:"#F7464A",
				        highlight: "#FF5A5E",
				        label: "End User"
				    },
				    {
				        value: stats.customerTypesData.homeUsersQty,
				        color: "#46BFBD",
				        highlight: "#5AD3D1",
				        label: "Home User"
				    },
				    {
				        value: stats.customerTypesData.companiesQty,
				        color: "#FDB45C",
				        highlight: "#FFC870",
				        label: "Company"
				    }
				]

				var salesChart = new Chart(ctx1).Line(linesData);
				document.getElementById("legendDiv").innerHTML = salesChart.generateLegend();
				var customersPie = new Chart(ctx2).Pie(pieData);
			}	
		})
	}

	$( document ).ready(function() {
		var today = Date.parse(new Date())
		$("body").attr('id', "dashboard");
		$('#startDate').find('input').val(dateFormat(today - 1000 * 60 * 60 * 24 * 30, 'mm/dd/yyyy')) // - 30 days
		$('#endDate').find('input').val(dateFormat(today, 'mm/dd/yyyy')) // today

		//update stats on load 
		updateViews(today - 1000 * 60 * 60 * 24 * 30, today)
		//Charts
		Chart.defaults.global.responsive = true
		Chart.defaults.global.animation = false
		Chart.defaults.global.maintainAspectRatio = true



		//handling date pick - updating the stats on that
		$(document).on('click', 'td.day', function(e) {

			// get input values and parse them to UNIX time
			var start = Date.parse( $('#startDate').find('input').val() )
			var end = Date.parse( $('#endDate').find('input').val() )

			// start > end == false
			if( start > end ) {
				Messenger().post({
				  	message: 'Start date should be less than End date.',
				  	type: 'error',
				  	showCloseButton: true
				});
				e.preventDefault()
				e.stopImmediatePropagation()
				return
			}

			updateViews(start, end)

		})

		$('.input-daterange').datepicker({
        	autoclose: true,
        	orientation: 'right top',
        	endDate: new Date()
        });
	})	  	
</script>
