<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <% include partials/styles %>
  </head>
  <body class="container">
  	<header>
  		<% include partials/header %>
  	</header>

    <section>
    <main>
        <div class="jumbotron">
            <%- body -%>
        </div>
    </main>
    </section>

    <footer>
    	<% include partials/footer %>
    </footer>
    	
    <% include partials/scripts %>
  </body>
</html>