<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <% include partials/styles %>
    <% include partials/scripts %>
  </head>
  <body>
    <div id="wrapper">
      <% include partials/sidebar %>
      <div id="content">
        <%- body -%>  
      </div>
    </div>
  <script type="text/javascript">
    $(function () {
    
    });

    function openInNewTab(url) {
      var win = window.open(url, '_blank');
      win.focus();
    }

  </script> 
  </body>
</html>