<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <% include partials/styles %>
    <% include partials/scripts %>
  </head>
  <body>
    <div id="wrapper">
      <% include partials/sidebar %>
      <div id="content">
        <%- body -%>  
      </div>
    </div>
   
  </body>
</html>