<% layout('layout') -%>

<div id="sidebar">
	<div class="sidebar-toggler visible-xs">
		<i class="ion-navicon"></i>
	</div>
	
	<h3>Order ###</h3>
	<ul class="menu tabs">
		<li>
			<a href="/orders/<%= order._id %>" class="active">
				<i class="fa fa-folder-open-o"></i>
				Details
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-shopping-cart"></i>
				Products
			</a>
		</li>
		<li>
			<a href="/orders/<%= order._id %>/invoice">
				<i class="fa fa-credit-card"></i>
				Invoice
			</a>
		</li>
		<li>
			<a href="/orders/<%= order._id %>/slip">
				<i class="fa fa-truck"></i>
				Packing  Slip
			</a>
		</li>
		<li>
			<a href="/orders/<%= order._id %>/cancel">
				<i class="fa fa-times"></i>
				<span style="color: red">Cancel Order</span>
			</a>
		</li>
	</ul>
</div>

<div id="panel" class="details">
	<h3 style="margin: 0 0 20px 0">
		Order Details
	</h3>

<!-- 	<p class="intro">
		Change your account information, avatar, login credentials, etc.
	</p> -->

	<form>
	  	<div class="form-group">
			<label>Name</label>
			<input type="email" class="form-control" placeholder="Enter email" value="John Smith Jr" />
		</div>
	  	<div class="form-group">
			<label>Email address</label>
			<input type="email" class="form-control" placeholder="Enter email" value="john@gmail.com" />
		</div>
		<div class="form-group">
			<label>Street & Number</label>
			<input type="text" class="form-control" placeholder="Enter email" value="5th Avenue 3053" />
		</div>
		<div class="form-group">
			<label>City</label>
			<input type="text" class="form-control" placeholder="Enter email" value="San Francisco" />
		</div>
		<div class="form-group">
			<label>ZIP</label>
			<input type="text" class="form-control" placeholder="Enter email" value="3352" />
		</div>
		<div class="form-group">
			<label>New password</label>
			<input type="password" class="form-control" />
		</div>
		<div class="form-group">
			<label>Confirm new password</label>
			<input type="password" class="form-control" />
		</div>
		<div class="form-group action">
			<a href="/orders" style="margin-right: 15px" class="btn btn-default">Cancel</a>
			<input type="submit" class="btn btn-success" value="Save changes" />
		</div>
	</form>

</div>	

<script type="text/javascript">
	$( document ).ready(function() {

		$("body").attr('id', "account")

	})	  	
</script>
