<% layout('layout') -%>
<div class="menubar">
	<div class="sidebar-toggler visible-xs">
		<i class="ion-navicon"></i>
	</div>

	<div class="page-title">
		Add new user
		<small class="hidden-xs">
			<strong></strong>
		</small>
	</div>
</div>

<div class="content-wrapper">
	<form id="new-user" class="form-horizontal" method="post" action="/users" role="form" data-toggle="validator" enctype="multipart/form-data">
	  	<div class="form-group">
		    <label class="col-sm-2 col-md-2 control-label">User name</label>
		    <div class="col-sm-10 col-md-8">
		      <input type="text" class="form-control" name="username"/>
		    </div>
	  	</div>
	  	<div class="form-group">
		    <label class="col-sm-2 col-md-2 control-label">Role</label>
		    <div class="col-sm-10 col-md-8">
		      <select type="text" class="form-control" name="role" />
		      	<option value="admin">admin</option>
		      	<option value="sales">sales</option>
		      	<option value="delivery">delivery</option>
		      </select> 
		    </div>
	  	</div>
	  	<div class="form-group">
		    <label class="col-sm-2 col-md-2 control-label">Avatar</label>
		    <div class="col-sm-10 col-md-8">
		    	<input type="file" name="image" />
		    </div>
	  	</div>
	  	<div class="form-group">
		    <label class="col-sm-2 col-md-2 control-label">Email address</label>
		    <div class="col-sm-10 col-md-8">
		      	<input type="text" class="form-control" name="email" />
		    </div>
	  	</div>
	  	<div class="form-group">
		    <label class="col-sm-2 col-md-2 control-label">Password</label>
		    <div class="col-sm-10 col-md-8">
		      	<input type="password" class="form-control" name="password" />
		    </div>
	  	</div>
	  	<div class="form-group">
		    <label class="col-sm-2 col-md-2 control-label">Confirm Password</label>
		    <div class="col-sm-10 col-md-8">
		      	<input type="password" class="form-control" name="confirmPassword" />
		    </div>
	  	</div>
	  	<div class="form-group form-actions">
	    	<div class="col-sm-offset-2 col-sm-10">
	    		<a href="/users" class="btn btn-default" style="margin-right: 10px; margin-left: -10px">Cancel</a>
	      		<button type="submit" class="btn btn-success">Save user</button>
    		</div>
	  	</div>
	</form>
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		
		$("body").attr('id', "form");

		
		
		$('#new-user').bootstrapValidator({
			framework: 'bootstrap',
	        err: {
	            container: 'tooltip'
	        },
	        fields: {
	            username: {
	                validators: {
	                    notEmpty: {
	                        message: 'The full name is required and cannot be empty'
	                    },
	                    stringLength: {
	                        min: 3,
	                        max: 30,
	                        message: 'The name must be more than 3 and less than 30 characters long'
	                    },
	                    regexp: {
	                        regexp: /^[a-zA-Z0-9_ ]+$/,
	                        message: 'The name can only consist of alphabetical, number and underscore'
	                    }
	                }
	            },
	            email: {
	                validators: {
	                    notEmpty: {
	                        message: 'The email address is required and cannot be empty'
	                    },
	                    emailAddress: {
	                        message: 'The email address is not valid'
	                    }
	                }
	            },
	            role: {
	                validators: {
	                    notEmpty: {
	                        message: 'The role is required and cannot be empty'
	                    }
	                }
	            },
	            image: {
	                validators: {
	                    file: {
	                    	extension: 'jpg,jpeg,png',
	                    	type: 'image/jpeg,image/png',
	                    	maxSize: 2097152,
	                        message: 'Invalid image format'
	                    },
	                    notEmpty: {
	                        message: 'The file is required and cannot be empty'
	                    }
	                }
	            },
	            password: {
                    validators: {
                    	notEmpty: {
	                        message: 'The password is required and cannot be empty'
	                    }
            		}
                },
                confirmPassword: {
                    validators: {
                		identical: {
                    		field: 'password',
                    		message: 'The password and its confirm are not the same'
                		}
            		}
                }
	        }
    	});


	})	  	
</script>