<% layout('layout') -%>

<div class="menubar">
	<div class="sidebar-toggler visible-xs">
		<i class="ion-navicon"></i>
	</div>
	<div class="page-title">
		All Products
	</div>
	<a href="/products/new" class="btn btn-success" style="margin-left: 15px;margin-top: -5px;">
		<span>New Product</span>
	</a>
	<div class="options pull-right">
		<a href="#"><i class="fa fa-download"></i> Download CSV</a>
	</div>
</div>

<div class="content-wrapper clearfix">

	<div class="filters">
		<h3 class="hidden-xs">Filters</h3>
		<form>
			<div class="filter">
				<label>
					<input type="checkbox" />
					Created date
				</label>
				<div class="filter-option" style="display:none;">
					<select class="field-switch">
						<option data-field="days">is in the last</option>
						<option data-field="calendar">is equal to</option>
						<option data-field="calendar">is before</option>
						<option data-field="calendar">is after</option>
					</select>
					<div class="field days">
						<input type="text" class="form-control small" value="9" />
						days
					</div>
					<div class="field calendar" style="display:none;">
						<i class="fa fa-calendar"></i>
						<input type="text" class="form-control datepicker" />
					</div>
				</div>
			</div>
			<div class="filter">
				<label>
					<input type="checkbox">
					Stock status
				</label>
				<div class="filter-option">
					<select>
						<option>In stock</option>
						<option>Out Of Stock</option>
					</select>
				</div>
			</div>
			<div class="filter">
				<label>
					<input type="checkbox">
					Price
				</label>
				<div class="filter-option">
					<select>
						<option>equal to</option>
						<option>not equal to</option>
						<option>less than</option>
						<option>greater than</option>
					</select>
					<div class="field">
						<input type="text" class="form-control" />
					</div>
				</div>
			</div>
			<div>
				<button style="margin-top: 20px" class="btn btn-success center-block">Filter Products</button>
			</div>
		</form>
	</div>

	<div class="results">

		<!-- bulk actions -->
		<div class="btn-group bulk-actions">
		  	<button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown">
		    	Bulk actions <span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" role="menu">
		    	<li><a href="#">Delete products</a></li>
			    <li><a href="#">Export to CSV</a></li>
		  	</ul>
		</div>

		<table id="datatable-example">
            <thead>
                <tr>
                    <th tabindex="0" rowspan="1" colspan="1">
                    	<input class="toggle-all" type="checkbox" />
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1">Image
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1">Product Name
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1">Status
                    </th>
                    <th tabindex="0" rowspan="1" colspan="1">Price
                    </th>
                </tr>
            </thead>
            <tbody>
            <% products.forEach(function(p) { %>
				<tr>
                    <td>
                    	<input name="select-product" type="checkbox" />
                    </td>
                    <td>
                    	<img class="img-responsive product-img" src="<%= p.image %>" />
                    </td>
                    <td><a href="/products/<%= p._id %>/edit" > <%= p.name %></a></td>
                    <td class=""><span class="label label-success">Available</span></td>
                    <td class="center">$159.99</td>
                </tr>
            <% }); %>
                
                
           	</tbody>
        </table>
	</div>
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		
		$("body").attr('id', "search");

		var $filters = $(".filters .filter input:checkbox");
		
		$filters.change(function () {
			var $option = $(this).closest(".filter").find(".filter-option");

			if ($(this).is(":checked")) {
				$option.slideDown(150, function () {
					$option.find("input:text:eq(0)").focus();
				});
			} else {
				$option.slideUp(150);
			}
		});

		// Filter dropdown options for Created date, show/hide datepicker or input text
		var $dropdown_switcher = $(".field-switch");
		$dropdown_switcher.change(function () {
			var field_class = $(this).find("option:selected").data("field");
			var $filter_option = $(this).closest(".filter-option");
			$filter_option.find(".field").hide();
			$filter_option.find(".field." + field_class).show();

			if (field_class === "calendar") {
				$filter_option.find(".datepicker").datepicker("show");
			} else {
				$filter_option.find(".field." + field_class + " input:text").focus();
			}
		});

		// Datepicker
        $('.datepicker').datepicker({
        	autoclose: true
        	, orientation: 'right top'
        	// , endDate: new Date()
        });

        $('#datatable-example').dataTable({
            "sPaginationType": "full_numbers",
            "iDisplayLength": 20,
			"aLengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]]
        });

        // Bulk actions checkboxes

		var $toggle_all = $("input:checkbox.toggle-all");
		var $checkboxes = $("[name='select-product']");
		var $bulk_actions_btn = $(".bulk-actions .dropdown-toggle");

		$toggle_all.change(function () {
			var checked = $toggle_all.is(":checked");
			if (checked) {
				$checkboxes.prop("checked", "checked");
				toggleBulkActions(true);
			} else {
				$checkboxes.prop("checked", "");
				toggleBulkActions(false);
			}
		});

		$checkboxes.change(function () {
			var anyChecked = $("[name='select-product']:checked");
			toggleBulkActions(anyChecked.length);
		});

		function toggleBulkActions(show) {
			if (show) {
				$bulk_actions_btn.removeClass("disabled");
			} else {
				$bulk_actions_btn.addClass("disabled");	
			}
		}	
	})	  	
</script>